<div class="text-center w-75 m-auto">
    <h4 class="text-dark-50 text-center pb-0 fw-bold">Iniciar Sesión</h4>
    <p class="text-muted mb-4">Introduzca su nombre de usuario y su contraseña para acceder al panel de administración.</p>
</div>

<form [formGroup]="FormLogin"
      (ngSubmit)="login()">
    <div class="mb-3">
        <label for="username" class="form-label">Nombre de usuario</label>
        <input class="form-control" type="text" id="username" formControlName="username" required placeholder="Ingrese el nombre de usuario">
    </div>
    <div class="mb-3">
        <a href="pages-recoverpw.html" class="text-muted float-end"><small>¿Ha olvidado su contraseña?</small></a>
        <label for="password" class="form-label">Contraseña</label>
        <div class="input-group input-group-merge">
            <input type="password" id="password" class="form-control" formControlName="password" placeholder="Ingrese su contraseña" required>
        </div>
    </div>
    <div class="mb-3 mb-0 text-center">
        <button class="btn btn-primary" type="submit" [disabled]="FormLogin.invalid"> Ingresar </button>
    </div>

</form>

<div class="row mt-3">
    <div class="col-12 text-center">
        <p class="text-muted">¿No tiene una cuenta? <a routerLink="/auth/register" class="text-muted ms-1"><b>Registrarse</b></a></p>
    </div>
</div>
