<app-sidebar></app-sidebar>

<div class="content-page">
  <div class="content">
    <app-topbar></app-topbar>

    <!-- Start Content-->
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                  <a href="javascript: void(0);">Hyper</a>
                </li>
                <li class="breadcrumb-item">
                  <a style="cursor: pointer" routerLink="/dashboard/visit"
                    >Visita</a
                  >
                </li>
                <li class="breadcrumb-item active">Crear Visita</li>
              </ol>
            </div>
            <h4 class="page-title">Crear Visita</h4>
          </div>
        </div>
      </div>
      <!-- end page title -->
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <form #registerVisit="ngForm" (ngSubmit)="register(registerVisit)">
            <div class="mb-3">
              <label class="form-label" for="validationCustom01"
                >Visitante</label
              >
              <select
                id="user"
                name="visitante"
                class="form-control"
                required
                [(ngModel)]="visit.visitante!.id"
              >
                <option value="" disabled selected>[Seleccione]</option>
                <option
                  value="{{ item.cod_visitante }}"
                  *ngFor="let item of listVisitors"
                >
                  {{ item.nom_visitante }}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="validationCustom02"
                >Propietario</label
              >
              <select
                id="user"
                name="propietario"
                class="form-control"
                required
                [(ngModel)]="visit.propietario!.id"
              >
                <option value="" disabled selected>[Seleccione]</option>
                <option
                  value="{{ item.cod_propietario }}"
                  *ngFor="let item of listOwners"
                >
                  {{ item.nom_propietario }}
                </option>
              </select>
            </div>
            <button class="btn btn-primary mb-4" type="submit">
              Registrar Visita
            </button>
          </form>
        </div>
      </div>
      <!-- end page title -->
    </div>
    <!-- container -->
  </div>
  <!-- content -->
  <app-footer></app-footer>
</div>
