<app-sidebar></app-sidebar>

<div class="content-page">
  <div class="content">
    <app-topbar></app-topbar>

    <!-- Start Content-->
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                  <a href="javascript: void(0);">Hyper</a>
                </li>
                <li class="breadcrumb-item">
                  <a style="cursor: pointer" routerLink="/dashboard/department"
                    >Departamento</a
                  >
                </li>
                <li class="breadcrumb-item active">Crear Departamento</li>
              </ol>
            </div>
            <h4 class="page-title">Crear Departamento</h4>
          </div>
        </div>
      </div>
      <!-- end page title -->
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <form class="needs-validation" novalidate>
            <div class="mb-3">
              <label class="form-label" for="validationCustom01"
                >Condiciones</label
              >
              <input
                type="text"
                class="form-control"
                id="validationCustom01"
                placeholder="Ingrese la condición"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="validationCustom02">Estado</label>
              <input
                type="text"
                class="form-control"
                id="validationCustom02"
                placeholder="Ingrese el estado"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="validationCustom02">Metros</label>
              <input
                type="text"
                class="form-control"
                id="validationCustom02"
                placeholder="Ingrese los metros"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="validationCustom02">Número</label>
              <input
                type="text"
                class="form-control"
                id="validationCustom02"
                placeholder="Ingrese el número"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="validationCustom02">Piso</label>
              <input
                type="text"
                class="form-control"
                id="validationCustom02"
                placeholder="Ingrese el piso"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="validationCustom02">Tipo</label>
              <input
                type="text"
                class="form-control"
                id="validationCustom02"
                placeholder="Ingrese el tipo"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="validationCustom02">Admin</label>
              <select id="user" name="" class="form-control" required>
                <option value="" disabled selected>[Seleccione]</option>
                <option></option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="validationCustom02"
                >Edificio</label
              >
              <select id="user" name="" class="form-control" required>
                <option value="" disabled selected>[Seleccione]</option>
                <option></option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="validationCustom02"
                >Propietario</label
              >
              <select id="user" name="" class="form-control" required>
                <option value="" disabled selected>[Seleccione]</option>
                <option></option>
              </select>
            </div>
            <button class="btn btn-primary mb-4" type="submit">
              Registrar Departamento
            </button>
          </form>
        </div>
      </div>
      <!-- end page title -->
    </div>
    <!-- container -->
  </div>
  <!-- content -->
  <app-footer></app-footer>
</div>
