<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-4 col-lg-5">
        <div class="card">
          <div class="card-header pt-4 pb-4 text-center bg-primary">
            <a style="cursor: pointer;">
              <span
                ><img src="assets/images/logo.png" alt="" height="18"
              /></span>
            </a>
          </div>

          <div class="card-body p-4">
            <div class="text-center w-75 m-auto">
              <h4 class="text-dark-50 text-center pb-0 fw-bold">
                Iniciar Sesión
              </h4>
              <p class="text-muted mb-4">
                Ingrese su nombre de usuario y contraseña para acceder al panel
                de administración.
              </p>
            </div>

            <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
              <div class="mb-3">
                <label for="name" class="form-label">Nombres y Apellidos</label>
                <input
                  class="form-control"
                  type="text"
                  id="name"
                  name="name"
                  [(ngModel)]="name"
                  placeholder="Ingrese sus nombres y apellidos"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="email" class="form-label"
                  >Dirección de correo electrónico</label
                >
                <input
                  class="form-control"
                  type="email"
                  id="email"
                  name="email"
                  [(ngModel)]="email"
                  required
                  placeholder="Ingrese su correo electrónico"
                />
              </div>

              <div class="mb-3">
                <label for="username" class="form-label"
                  >Nombre de usuario</label
                >
                <input
                  class="form-control"
                  type="text"
                  id="username"
                  name="userName"
                  [(ngModel)]="username"
                  required
                  placeholder="Ingrese el nombre de usuario"
                />
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <div class="input-group input-group-merge">
                  <input
                    type="password"
                    id="password"
                    name="password"
                    [(ngModel)]="password"
                    class="form-control"
                    placeholder="Ingrese su contraseña"
                  />
                </div>
              </div>
              <div class="mb-3 text-center">
                <button
                  class="btn btn-primary"
                  type="submit"
                >
                  Registrarse
                </button>
              </div>
            </form>
            <div class="row mt-3">
              <div class="col-12 text-center">
                <p class="text-muted">
                  ¿No tienes una cuenta?
                  <a routerLink="/login" class="text-muted ms-1"
                    ><b>Iniciar Sesión</b></a
                  >
                </p>
              </div>
              <!-- end col -->
            </div>
          </div>
          <!-- end card-body -->
        </div>
        <!-- end card -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->

<footer class="footer footer-alt">2022 © Grupo 02</footer>
