<app-sidebar></app-sidebar>

<div class="content-page">
  <div class="content">
    <app-topbar></app-topbar>
    <!-- Start Content-->
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="card">
              <div class="card-body">
                <div class="row mb-2">
                  <div class="col-sm-4">
                    <a style="cursor: pointer"
                       routerLink="/dashboard/visit/create" 
                       class="btn btn-danger mb-2"
                      ><i class="mdi mdi-plus-circle me-2"></i> Registrar Visitante</a
                    >
                  </div>
                </div>

                <div class="table-responsive">
                  <table
                    class="table table-centered w-100 dt-responsive nowrap"
                    id="products-datatable"
                    style="text-align: center;"
                  >
                    <thead class="table-light">
                      <tr>                        
                        <th>#</th>
                        <th>Propietario</th>
                        <th>Visitante</th>
                        <th>DNI</th>
                        <th>Fecha y hora ingreso</th>
                        <th>Fecha y hora salida</th>
                        <th>Estado</th>
                        <th style="width: 110px">Acciones</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let item of visits; let indice = index">
                      <tr>
                        <td>{{ indice + 1 }}</td>
                        <td>{{ item.user.username }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.dni }}</td>
                        <td>{{ item.entryDate }}</td>
                        <td *ngIf="item.exitDate == null"> - </td>
                        <td *ngIf="item.exitDate != null">{{ item.exitDate }}</td>
                        <td>{{ getEstado(item.status == null?0:item.status) }}</td>
                        <td class="table-action" *ngIf="item.status == 1">
                          <button type="button" disabled class="btn btn-primary" (click)="changeStatus(item)">Actualizar</button>                          
                        </td>
                        <td class="table-action" *ngIf="item.status == 0">
                          <button type="button" class="btn btn-primary" (click)="changeStatus(item)">Actualizar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- end card-body-->
            </div>
            <!-- end card-->
            <!-- end row -->
          </div>
        </div>
      </div>
      <!-- end page title -->
    </div>
    <!-- container -->
  </div>
  <!-- content -->
  <app-footer></app-footer>
</div>
