<app-sidebar></app-sidebar>

<div class="content-page">
    <div class="content">        
        <app-topbar></app-topbar>
        <!-- Start Content-->
        <div class="container-fluid">            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-sm-4">
                                        <a style="cursor: pointer;" routerLink="/dashboard/mascot/create" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle me-2"></i> Crear Mascota</a>
                                    </div>
                                </div>
        
                                <div class="table-responsive">
                                    <table class="table table-centered w-100 dt-responsive nowrap" id="mascot-datatable">
                                        <thead class="table-light">
                                            <tr>
                                                <th class="all" style="width: 20px;">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="customCheck1">
                                                        <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                                    </div>
                                                </th>
                                                <th class="all">Código</th>
                                                <th>Nombre</th>
                                                <th>Sexo</th>
                                                <th>Raza</th>
                                                <th style="width: 85px;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="customCheck2">
                                                        <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                                    </div>
                                                </td>
                                                <td>
                                                    Código
                                                </td>
                                                <td>
                                                    Aeron Chairs
                                                </td>
                                                <td>
                                                    09/12/2018
                                                </td>
                                                <td>
                                                    $148.66
                                                </td>
            
                                                <td class="table-action">
                                                    <a style="cursor: pointer;" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                                    <a style="cursor: pointer;" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                                    <a style="cursor: pointer;" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                        <!-- end row -->   
                    </div>
                </div>
            </div>      
            <!-- end page title -->             
        </div> <!-- container -->
    </div> <!-- content -->
    <app-footer></app-footer>
</div>